{% extends 'base.html' %}

{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome for shopping</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="container">
        		<center>
        			<div class = "col-8">
        				<p align="justify"> 
        					<br/><br/>
        				Welcome to Saurab Ecommerce — Your Ultimate Online Shopping Destination!
<br/><br/>
We’re delighted to have you here! At Saurab Ecommerce, we believe shopping should be more than just a transaction — it should be an enjoyable experience filled with excitement, trust, and satisfaction. Whether you’re upgrading your wardrobe, exploring the latest tech, or searching for the perfect gift, our store offers a wide variety of high-quality products to suit your every need. Every product listed on our website has been carefully selected with our customers in mind — combining style, performance, and value. Our mission is to make online shopping convenient, affordable, and enjoyable for everyone. With a smooth browsing experience, detailed product descriptions, and secure checkout, you can shop confidently from the comfort of your home.
<br/><br/>

We also love rewarding our customers! Keep an eye on our exclusive deals, festive discounts, and limited-time sale offers to grab the best prices on your favorite items. And if you ever need help, our friendly support team is always ready to assist you.At Saurab Ecommerce, your satisfaction is our top priority. We aim to build lasting relationships by providing not only great products but also exceptional service. So, explore our store, discover something new, and make your shopping moments truly memorable.
 <br/><br/>
Thank you for choosing Saurab Ecommerce — where quality meets trust, and every click brings happiness! 💛
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}